{% extends "base.jinja2" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Webtoons</li>
        </ol>
    </nav>

    <div class="text-center">
        <h2>Webtoons</h2>
        <div class="my-3">
           <a class="btn btn-primary" href="/webtoons/new">Publish New Webtoon</a>
        </div>
        <ul class="list-group">
            {% for webtoon in webtoons %}
                <li class="list-group-item text-center">
                    <a href="/webtoons/{{webtoon.slugline}}">
                        {{ webtoon.title }}
                    </a> by {{ webtoon.author }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
